* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #000;
    
}

h1, h2, h3, h4, h5, h6, p, li, a, figcaption {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

/* HEADER AND NAV */

header {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 150px;
    /* border-bottom: 1px solid white; */
    background-color: #000;
}

h1 {
    background-color: #000;
    
    text-shadow: 3px -3px blue;
    text-align: center;
    padding: 1rem 0;
    z-index: 1;
}

#desktop-h1 {
    width: 100%;
    font-size: 4rem;
    letter-spacing: 3px;
    
}

#mobile-h1 {
    display: none;
}

/* LOGO */

div.logo {
    position: absolute;
    top: 2.3rem;
    left: 4rem;
    background-color: black;
    height: 25px;
    width: 25px;
    z-index: 4;
}

#item1 {
    background-color: white;
    position: relative;
    
    height: 25px;
    width: 15px;
    z-index: 5;
}

#item2 {
    background-color: black;
    position: relative;
    bottom: 20px;
    left: 5px;
    height: 20px;
    width: 10px;
    z-index: 6;
}

#item3 {
    background-color: white;
    position: relative;
    bottom: 35px;
    left: 10px;
    height: 15px;
    width: 5px;
    z-index: 7;
}

#item4 {
    background-color: white;
    position: relative;
    bottom: 60px;
    left: 20px;
    height: 15px;
    width: 5px;
    z-index: 5;
}

#item5 {
    background-color: white;
    position: relative;
    bottom: 55px;
    left: 20px;
    height: 5px;
    width: 5px;
    z-index: 5;
}

nav {
    background-color: #000;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 0.5rem 0; */
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    font-style: italic;
    transition: background-color 80ms ease-in 0s;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.nav:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

li.contact {
    background-color: white;
    
}

.current a {
    text-decoration: underline;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.contact a {
    color: #000;
    font-weight: 600;
    font-style: normal;
}

main {
    padding-top: 150px;
}

/* END HEADER AND NAV */

article {
    padding: 1rem;
    text-align: justify;
    width: 65%;
    margin: 0 auto;
}

h2 {
    padding-bottom: 1rem;
    font-style: italic;
    letter-spacing: 4px;
}

h3 {
    font-weight: bold;
    padding-bottom: 1rem;
}

article ul {
    list-style-type: square;
    list-style-position: inside;
}

p {
    padding-bottom: 1rem;
}



#mobile-ritorno {
    display: none;
}

figure {
    padding: 5px;
    z-index: -1;
    border: 1px solid white;
    margin: 15px;
}

#desktop-ritorno {
    /* display: block; */
    float: right;
    width: 40%;
    margin-right: 0;
    
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    padding-top: 5px;
}

figure img {
    display: block;
    width: 100%;
}



#masterchef {
    float: left;
    width: 50%;
    margin-left: 0;
}

/* div.background1 {
    position: absolute;
    width: 55%;
    height: 100px;
    top: 20%px;
    background-color: blue;
    opacity: 0.2;
    z-index: -10;
}

div.background2 {
    position: absolute;
    width: 50%;
    height: 100px;
    top: 350px;
    background-color: blue;
    opacity: 0.2;
    z-index: -10;
}

div.background3 {
    position: absolute;
    width: 10%;
    height: 100px;
    top: 500px;
    background-color: blue;
    opacity: 0.2;
    z-index: -10;
}

div.background4 {
    position: absolute;
    width: 70%;
    height: 100px;
    top: 650px;
    background-color: blue;
    opacity: 0.2;
    z-index: -10;
}

div.background5 {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 800px;
    background-color: blue;
    opacity: 0.2;
    z-index: -10;
} */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid white;
}

@media only screen and (max-width: 960px) {
    
    header {
        height: 130px;
    }
    
    #desktop-h1 {
        font-size: 3rem;
    }

    div.logo {
        top: 1.8rem;
        left: 1.8rem;
    }

    main {
        padding-top: 130px;
    }

    article {
        width: 65%;
    }


}

/* PHONE POSITION */

@media only screen and (max-width: 700px) {
    header {
        position: static;
        height: 293px;
        padding-top: 20px;
    }
    
    div.logo {
        position: static;
        display: block;
        width: 25px;
        height: 25px;
        margin: 0 auto;
    }

    #desktop-h1 {
        display: none;
    }

    #mobile-h1 {
        display: block;
        width: 50%;
        height: 203px;
        margin: 0 auto;
        padding: 20px 0;
    }

    #mobile-h1 h1 {
        font-size: 3rem;
        padding: 0;
        letter-spacing: 4px;
    }

    nav {
        justify-content: left;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .sticky + main {
        margin-top: 40px;
    }

    main {
        padding-top: 0px;
    }

    article {
        width: 80%;
    }

    h2 {
        text-align: center;
    }

    #desktop-ritorno {
        display: none;
    }

    #mobile-ritorno {
        display: block;
        float: none;
        width: 100%;
        margin: 10px 0;
    }

    #masterchef {
        float: none;
        width: 100%;
        margin: 10px 0;
    }

}