* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #000;
    
}

h1, h2, h3, h4, h5, h6, p, li, a {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: fixed;
    border-bottom: 1px solid white;
}

h1 {
    letter-spacing: 3px;
    text-shadow: 3px -3px blue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

ul {
    list-style: none;
}

li {
    background-color: rgba(0, 0, 255, 0.5);
    font-style: italic;
    transition: background-color 80ms ease-in 0s;
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 1.2rem;
}

li:hover {
    background-color: rgba(0, 0, 255, 1);
}

li.contact {
    background-color: white;
    
}

a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.contact a {
    color: #000;
    font-weight: 600;
    font-style: normal;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid white;
}