/* CSS stylesheet structure:

@ declarations
Font            @font-face
Media           @all @screen @print @tty

Elements
Body            body
Block           div header section footer
Text block      article, h1-h6, p, blockquote, code
Inline text     span, a, em, sub, sup
List            ol, ul, li, dl
Table           
Named IDs       #foo
named classes   .foo

Order of styles:
Display         display, visibility, z-index, float
Position        position, float, margin, padding, top
Dimensions      width, height
Border          border, outline
Background      background
Text            font, text, line-height, letter-spacing, color
List            list-style
Table           caption-side, empty-cells, table-layout */

* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #000;
}

h1, h2, h3, h4, h5, h6, p, li, a {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 5rem;
    text-shadow: 5px -5px blue;
}

div.landing-text {
    position: absolute;
    top: 350px;
    padding-left: 40px;
    /* padding-top: 10px;
    padding-bottom: 30px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue; */
    width: 100%;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

li:hover {
    background-color: rgba(0, 0, 255, 1);
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.5);
    
    margin-right: 1.5rem;
    font-size: 1.5rem;
    font-style: italic;
}

div.contact {
    display: none;
}

.contact {
    padding: 50px 0 50px 200px;

}

.contact p {
    font-size: 1.5rem;
}

img.slideshow {
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(65%);
}