* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    /* width: 100%;
    height: 100%; */
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}

body {
    background-color: #000;
    
}

h1, h2, h3, h4, h5, h6, p, li, a {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

/* HEADER */

header {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 150px;
    /* border-bottom: 1px solid white; */
    background-color: #000;
    z-index: 4;
}

h1 {
    background-color: #000;
    
    text-shadow: 3px -3px blue;
    text-align: center;
    padding: 1rem 0;
    z-index: 1;
}

#desktop-h1 {
    width: 100%;
    font-size: 4rem;
    letter-spacing: 3px;
    
}

#mobile-h1 {
    display: none;
}

/* LOGO */

div.logo {
    position: absolute;
    top: 2.3rem;
    left: 4rem;
    background-color: black;
    height: 0px;
    z-index: 4;
}

#item1 {
    background-color: white;
    position: relative;
    
    height: 25px;
    width: 15px;
    z-index: 5;
}

#item2 {
    background-color: black;
    position: relative;
    bottom: 25px;
    left: 5px;
    height: 20px;
    width: 10px;
    z-index: 6;
}

#item3 {
    background-color: white;
    position: relative;
    bottom: 45px;
    left: 10px;
    height: 15px;
    width: 15px;
    z-index: 7;
}

#item4 {
    background-color: black;
    position: relative;
    bottom: 55px;
    left: 15px;
    height: 20px;
    width: 10px;
    z-index: 8;
}

#item5 {
    background-color: white;
    position: relative;
    bottom: 70px;
    left: 20px;
    height: 15px;
    width: 5px;
    z-index: 9;
}

/* END LOGO */

nav {
    background-color: #000;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    font-style: italic;
    transition: background-color 80ms ease-in 0s;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.nav:hover, .box a:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

li.contact {
    background-color: white;
    
}

.current a {
    text-decoration: underline;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.contact a {
    color: #000;
    font-weight: 600;
    font-style: normal;
}

main {
    padding-top: 150px;
}

/* END HEADER */

img.banner {
    width: 100%;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 3px;
    width: 100%;
    padding: 10px;
    margin: 40px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

section.box {
    font-size: 1.2rem;
    width: 80%;
    padding: 20px;
    margin: 40px auto;
    border: 1px solid white;
    box-shadow: 12px -12px rgba(0, 0, 255, 0.5);
    background-color: black;

}

.box p {
    padding-bottom: 15px;
}

.box h2 {
    padding-bottom: 20px;
    border: none;
    margin: 0;
}

.box ul {
    padding: 20px;
    /* padding-top: 30px; */
}

.box li {
    list-style: square;
    padding-bottom: 10px;
}

.box a {
    display: inline-block;
    text-decoration: underline;
    padding: 0;
}

section.introduction {
    position: relative;
    top: -150px;
    margin-bottom: -150px;
}

div.ripper {
    width: 80%;
    margin: 40px auto;
    
}

.ripper img {
    width: 100%;
    
}

section.testimonial {
    text-align: center;
}

.testimonial div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial div p {
    display: inline-block;
    padding: 20px;
}

.video {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video video, .video p {
    display: inline-block;
}

.video video {
    width: 30%;
    height: auto;
}

.video-text  {
    width: 70%;
    padding: 20px;
}

.video-text p {
    padding: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid white;
    text-align: center;
}

footer p {
    padding: 20px;
}

@media only screen and (max-width: 960px) {
    
    header {
        height: 130px;
    }
    
    #desktop-h1 {
        font-size: 3rem;
    }

    div.logo {
        top: 1.8rem;
        left: 1.8rem;
    }

    main {
        padding-top: 130px;
    }

}

/* PHONE POSITION */

@media only screen and (max-width: 700px) {
    header {
        position: static;
        height: 293px;
        padding-top: 20px;
    }
    
    div.logo {
        position: static;
        display: block;
        width: 25px;
        height: 25px;
        margin: 0 auto;
    }

    #desktop-h1 {
        display: none;
    }

    #mobile-h1 {
        display: block;
        width: 50%;
        height: 203px;
        margin: 0 auto;
        padding: 20px 0;
    }

    #mobile-h1 h1 {
        font-size: 3rem;
        padding: 0;
        letter-spacing: 4px;
    }

    nav {
        justify-content: left;
    }

    nav li:first-child {
        margin-left: 1rem;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .sticky + main {
        margin-top: 40px;
    }

    main {
        padding-top: 0px;
    }

    section.box {
        font-size: 1.3rem;
        position: static;
    }

    h2 {
        font-size: 1.8rem;
    }

    section.introduction {
        margin-bottom: 0px;
    }

    figure {
        width: 100%;
    }

    .testimonial div, .testimonial div p {
        display: block;
    }


    div.video {
        display: block;
        text-align: center;
    }
    
    .video video {
        width: 100%;
        max-width: 100%
    }

    .video-text  {
        width: 100%;
    }
    
    .video-text p {
        padding: 10px;
    }

}